# Ejemplo de configuración - Cambiar por valores reales
# MySQL Passwords
DATABASE_ROOT_PASSWORD=escriba_su_password
USER_DB_USER=escriba_su_username
USER_DB_PASS=escriba_su_password
BOOKING_DB_USER=escriba_su_username
BOOKING_DB_PASS=escriba_su_password
PAYMENT_DB_USER=escriba_su_username
PAYMENT_DB_PASS=escriba_su_password

# RabbitMQ
RABBITMQ_USERNAME=escriba_su_username
RABBITMQ_PASSWORD=escriba_su_password

# MongoDB
MONGODB_USER=escriba_su_username
MONGODB_PASSWORD=escriba_su_password